footer {
    padding: 0 60px;
    background-color: black;

}
.top_socials {
    display: flex;
    gap: 24px;
}

.top_social img {
    height: 25px;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.footer_links ul {
    display: grid;
    gap: 18px;
    list-style: none;
    padding: 0;
}

.footer_links li a,
.footer_button {
    color: #f5f5f1;
    text-decoration: none;
}

.footer_button {
    margin-top: 60px;
    border: 1px solid #999999;
    padding: 8px 6px;
}
